html,
body {
  height: 100%;
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
div {
  box-sizing: border-box;
}
div a:hover {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: auto;
}
.main-container {
  position: relative;
  background-size: cover;
  min-width: 1440px;
  margin: 0 auto;
}
.text {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  line-height: 50px;
}
.btn {
  width: 660px;
  height: 107px;
  border-radius: 58px;
  background: #eb3b49;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0;
  color: white;
}
.input-form {
  width: 660px;
  height: 90px;
  font-size: 35px;
  margin-bottom: 40px!important;
  border-radius: 3px;
  background: #d8d8d8;
  border: #979797 1px solid;
}
.scroll {
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
}
.nav-text {
  font-weight: 700;
  margin-top: -76px;
  margin-left: 115px;
  letter-spacing: 0.2px;
}
.icon {
  margin-top: -100px;
  font-size: 62px;
  font-weight: 700;
  margin-left: 380px;
}
.nav-lunk {
  margin-top: -95px;
  float: left;
  margin-right: 22px;
}
.contact-phone {
  width: 80px;
  height: 80px;
}
.modal-tittle-second {
  margin-left: 26%!important;
}
.modal-body {
  width: 900px;
  background: white;
}
.modal-body input {
  margin-left: 13%;
  width: 75%;
  height: 120px;
  padding-left: 20px;
  font-size: 35px;
  margin-bottom: 50px !important;
  background: #d8d8d8;
  border: #979797 1px solid;
}
.modal-body button {
  width: 55%;
  height: 80px;
  margin-left: 23%;
  border-radius: 40px;
  font-size: 35px;
  font-weight: 700;
  margin-top: 30px;
}
.nav {
  margin-top: 35px;
  margin-left: 31%;
}
.nav-modal-second {
  margin-top: 15px!important;
}
.modal-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 35px;
  background: #d8d8d8;
  margin-bottom: 20px;
}
.modal-link-active {
  background: #eb3b49;
}
.modal-input-second {
  height: 100px!important;
  margin-bottom: 10px!important;
}
.btn-second {
  margin-top: -20px !important;
}
.modal-header-second {
  height: 90px!important;
}
.modal-header {
  margin: 0 auto!important;
  width: 900px;
  background: white;
  height: 130px;
}
.modal-header h5 {
  margin-top: 20px;
  color: #eb3b49;
  font-size: 40px;
  letter-spacing: 0;
  margin-left: 32%;
}
.modal-delite {
  font-size: 40px;
}
.modal-flex {
  display: flex;
  padding-top: 20px;
}
.modal-document {
  width: 350px!important;
  height: 300px;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
}
.modal-document span {
  color: #eb3b49;
}
.modal-form {
  width: 650px!important;
  padding-left: 20px;
  text-align: center;
}
.modal-form p {
  font-size: 20px;
  margin-top: -30px !important;
}
.modal-form ul {
  list-style-type: none;
  margin-top: -20px;
}
.modal-form ul li {
  border-bottom: black 1px solid;
  width: 450px;
}
.modal-form a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.modal-form span {
  font-size: 50px;
  margin-left: 250px!important;
}
.btn-third {
  font-size: 35px!important;
  color: white;
  margin-top: -400px;
  line-height: 1px;
  height: 0;
}
.btn-third-span {
  line-height: 5px;
  font-size: 15px;
  margin-bottom: 0!important;
}
.modal-input-third {
  width: 450px!important;
  height: 70px!important;
  margin-left: 20px!important;
  background: #eb3b49 !important;
  color: black;
}
.btn-third {
  margin-top: 50px;
}
.modal-text {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0;
  color: #001534;
  line-height: 70px;
}
.info-logo {
  margin: 0 auto;
  margin-top: 65px;
  width: 250px;
  height: 168px;
}
@media (max-width: 576px) {
  .modal-body,
  .modal-header {
    width: 1500px!important;
  }
  .modal-header h5 {
    margin-left: 37%!important;
  }
  .modal-content {
    width: 400px!important;
  }
  .step-active {
    background: red;
    margin-left: 42%!important;
  }
  .step {
    margin-left: 42%!important;
    margin-top: 60px!important;
  }
  .modal-title {
    color: red;
    text-align: center;
  }
  .modal-input-third {
    width: 800px !important;
    margin-left: -20px !important;
  }
  .modal-form ul li {
    width: 670px!important;
  }
  .nav {
    margin-left: 50px!important;
  }
  .nav-modal-second {
    margin-left: 570px!important;
  }
  .header-container {
    padding-right: 75px;
    margin-top: -600px;
  }
  .header-container h2 {
    margin-left: 455px;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    letter-spacing: 0.9px;
  }
  .header-container h1 {
    margin-top: -17px;
    font-size: 120px;
    font-weight: 300;
    color: #001534;
    letter-spacing: 2.8px;
  }
  .header-container h1 span {
    font-weight: 700;
  }
  .header-container p {
    margin-left: 409px;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #001534;
    margin-bottom: 130px;
  }
  .header-container .history p {
    margin-top: -140px;
    font-size: 41px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
    margin-bottom: 18px!important;
  }
  .header-btn {
    margin-left: 53%;
  }
  .header-container-text {
    margin-left: 35%;
  }
  .banner-info {
    position: relative;
    z-index: 2;
    margin-left: 50%;
    margin-top: 150px;
    padding-left: 140px;
    width: 47%;
    height: 107px;
    border-radius: 58px;
    background: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
  }
  .info {
    margin-top: -13px;
    width: 660px;
    text-align: center;
  }
  .info span {
    color: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    line-height: 110px;
  }
  .big-text {
    font-size: 59px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
    margin-bottom: 7px;
    line-height: 70px;
  }
  .info-phone-container {
    display: inline-block;
  }
  .info-phone-img {
    float: left;
    width: 50px;
    height: 40px;
    font-size: 62px;
    font-weight: 700;
  }
  .info-phone-link {
    margin-top: 50px;
    float: left;
    width: 400px;
  }
  input {
    outline: 0 !important;
  }
  form {
    margin-top: -7px;
  }
  .input-form {
    margin-left: 0!important;
    width: 80%;
    height: 90px;
    padding-left: 20px;
    font-size: 35px;
    margin-bottom: 40px!important;
    border-radius: 3px;
    background: #d8d8d8;
    border: #979797 1px solid;
  }
  .form-center {
    margin: 0 auto;
  }
  .form-btn {
    outline: none!important;
    margin-left: 2.5%;
    margin-top: 17px;
    border-radius: 52px;
    width: 95%;
    height: 107px;
    background: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
    padding: 10px 119px 10px 131px;
  }
  .form-btn-style {
    font-size: 40px;
    padding: 27px 70px 26px 70px;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .info-forms {
    width: 100%;
  }
  .steps {
    height: 233px;
    padding-top: 40px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
  }
  .steps-card {
    text-align: center;
  }
  .steps-card span {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
  }
  .steps-card h3 {
    margin-top: 30px;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 50px;
    font-weight: 700;
    color: #001534;
  }
  .steps-card p {
    margin-top: 20px;
  }
  .step-first {
    width: 100%;
    height: 205px;
    margin-top: 15px;
  }
  .step {
    margin-top: -70px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #eb3b49 5px solid;
    margin-left: 34%;
    padding-top: 7px;
  }
  .step a {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
  }
  .step-active {
    text-align: center;
    margin-left: 34%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #eb3b49;
    margin-top: -70px;
    padding-top: 7px;
  }
  .step-active a {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
  }
  .steps-btn {
    margin-left: 18px;
    font-size: 42px;
    width: 1350px;
  }
  .questions {
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: center;
    height: 96px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #001534;
  }
  .btn-questions {
    margin-left: 0!important;
    font-size: 42px;
    width: 1350px;
  }
  .contact {
    padding-top: 100px;
    padding-left: 7%;
    padding-right: 10%;
  }
  .mail {
    display: flex;
  }
  .mail a {
    font-size: 42px;
    font-weight: 300;
    color: #001534;
  }
  .mail p {
    margin-top: -20px;
    margin-right: 20px;
    font-size: 122px;
  }
  .mail-img {
    margin-top: 25px;
  }
  .mail-link {
    margin-top: 65px;
  }
  .advetristing {
    margin-top: -250px;
    text-align: right;
  }
  .info-phone-container {
    position: relative;
  }
  .contact-img {
    margin-left: 15%;
    position: absolute;
    width: 250px;
    height: 250px;
  }
  .maps {
    margin-top: 50px;
  }
  .maps h3 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .maps {
    margin-top: 50px;
    width: 100%;
  }
  .maps h3 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    margin-left: 550px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .conditions-tittle {
    padding-top: 9px;
  }
  .conditions-tittle h3 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
  }
  .conditions-tittle p {
    line-height: 42px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
    text-align: center;
  }
  .conditions-text {
    padding-top: 35px;
  }
  .conditions-text-left {
    text-align: right;
  }
  .conditions-text-left p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
  }
  .conditions-text-right {
    text-align: left;
  }
  .conditions-text-right p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
  }
  .conditions-text-right span {
    color: #eb3b49;
  }
  .map-contacts {
    text-align: center;
    padding-right: 51%;
    margin-top: -380px;
  }
  .map-contacts p {
    font-size: 42px;
    font-weight: 700;
    color: #eb3b49;
    letter-spacing: 0;
    line-height: 40px;
  }
  .map-contacts-phone {
    padding-left: 53%;
    margin-top: -65px;
  }
  .map-mail {
    display: flex;
    margin-top: 90px;
    padding-right: 300px;
  }
  .map-mail-img {
    font-size: 60px;
    color: red;
    margin-right: 20px;
  }
  .info-phone-link a {
    color: #001534;
    font-size: 40px;
    font-weight: 700;
  }
  .map-mail-link {
    margin-top: 45px;
  }
  .map-mail-link a {
    color: #001534;
    font-size: 42px;
    font-weight: 700;
  }
  .info-big {
    text-align: center;
    margin-top: 110px;
  }
  .info-big p {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 36px;
  }
  .info-big img {
    margin-top: 65px;
    width: 250px;
    height: 168px;
  }
}
@media (max-width: 768px) {
  header {
    padding-top: 90px;
  }
  .modal-body {
    width: 900px;
  }
  input[type="text"]::-moz-placeholder {
    color: #001534;
    opacity: 1;
    font-size: 30px;
  }
  input[type="text"]::-webkit-input-placeholder {
    color: #001534;
    opacity: 1;
    font-size: 30px;
  }
  input[type="text"]:-ms-input-placeholder {
    color: #001534;
    opacity: 1;
    font-size: 30px;
  }
  input[type="text"]::-ms-input-placeholder {
    color: #001534;
    opacity: 1;
    font-size: 30px;
  }
  input[type="text"]::placeholder {
    color: #001534;
    opacity: 1;
    font-size: 30px;
  }
  input[type="text"]::placeholder {
    color: #001534;
    opacity: 1;
    font-size: 30px;
  }
  .header-logo {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 15px;
  }
  .header-container {
    padding-right: 75px;
    margin-top: -600px;
  }
  .header-container h2 {
    margin-left: 455px;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    letter-spacing: 0.9px;
  }
  .header-container h1 {
    margin-top: -17px;
    font-size: 120px;
    font-weight: 300;
    color: #001534;
    letter-spacing: 2.8px;
  }
  .header-container h1 span {
    font-weight: 700;
  }
  .header-container p {
    margin-left: 409px;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #001534;
    margin-bottom: 130px;
  }
  .header-container .history p {
    margin-top: -140px;
    font-size: 41px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
    margin-bottom: 18px!important;
  }
  .header-btn {
    margin-left: 53%;
  }
  .header-container-text {
    margin-left: 35%;
  }
  .banner-info {
    position: relative;
    z-index: 2;
    margin-left: 50%;
    margin-top: 150px;
    padding-left: 140px;
    width: 47%;
    height: 107px;
    border-radius: 58px;
    background: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
  }
  .info-forms {
    padding-top: 108px;
  }
  .info {
    margin-top: -13px;
    width: 660px;
    text-align: center;
  }
  .info span {
    color: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    line-height: 110px;
  }
  .big-text {
    font-size: 59px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
    margin-bottom: 7px;
    line-height: 70px;
  }
  .info-phone-container {
    display: inline-block;
  }
  .info-phone-img {
    float: left;
    width: 50px;
    height: 40px;
    font-size: 62px;
    font-weight: 700;
  }
  .info-phone-link {
    margin-top: 50px;
    float: left;
    width: 450px;
  }
  input {
    outline: 0 !important;
  }
  form {
    margin-top: -7px;
    margin-left: 2.5%;
  }
  .input-form {
    margin: 0 auto;
    width: 100%;
    height: 90px;
    padding-left: 20px;
    font-size: 35px;
    margin-bottom: 40px!important;
    border-radius: 3px;
    background: #d8d8d8;
    border: #979797 1px solid;
  }
  .form-center {
    margin: 0 auto;
  }
  .form-btn {
    margin-left: 2.5%;
    margin-top: 17px;
    border-radius: 52px;
    width: 95%;
    height: 107px;
    background: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
    padding: 10px 119px 10px 131px;
  }
  .form-btn-style {
    font-size: 40px;
    padding: 27px 70px 26px 70px;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .info-forms {
    width: 100%;
  }
  .steps {
    height: 223px;
    padding-top: 40px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
  }
  .steps-card {
    text-align: center;
  }
  .steps-card span {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
  }
  .steps-card h3 {
    margin-top: 10px;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 50px;
    font-weight: 700;
    color: #001534;
  }
  .steps-card p {
    margin-top: 2px;
  }
  .step-first {
    width: 100%;
    height: 205px;
    margin-top: 15px;
  }
  .step {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #eb3b49 5px solid;
    margin-left: 34%;
    margin-top: -10px;
    padding-top: 7px;
  }
  .step a {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
  }
  .step-active {
    text-align: center;
    margin-left: 34%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #eb3b49;
    margin-top: -10px;
    padding-top: 7px;
  }
  .step-active a {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
  }
  .steps-btn {
    margin-left: 18px;
    font-size: 42px;
    width: 1350px;
  }
  .questions {
    margin-top: -10px;
    padding-top: 0;
    text-align: center;
    height: 96px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #001534;
  }
  .btn-questions {
    margin-left: 0!important;
    font-size: 42px;
    width: 1350px;
  }
  .contact {
    padding-top: 100px;
    padding-left: 7%;
    padding-right: 10%;
  }
  .mail {
    display: flex;
  }
  .mail a {
    font-size: 42px;
    font-weight: 300;
    color: #001534;
  }
  .mail p {
    margin-top: -20px;
    margin-right: 20px;
    font-size: 122px;
  }
  .mail-img {
    margin-top: 25px;
  }
  .mail-link {
    margin-top: 65px;
  }
  .advetristing {
    margin-top: -250px;
    text-align: right;
  }
  .info-phone-container {
    position: relative;
  }
  .contact-img {
    margin-left: 15%;
    position: absolute;
    width: 250px;
    height: 250px;
  }
  .maps {
    margin-top: 50px;
  }
  .maps h3 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .maps {
    margin-top: 50px;
    width: 100%;
  }
  .maps h3 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    margin-left: 550px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .conditions-tittle {
    padding-top: 9px;
  }
  .conditions-tittle h3 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
  }
  .conditions-tittle p {
    line-height: 42px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
    text-align: center;
  }
  .conditions-text {
    padding-top: 35px;
  }
  .conditions-text-left {
    text-align: right;
  }
  .conditions-text-left p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
  }
  .conditions-text-right {
    text-align: left;
  }
  .conditions-text-right p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
  }
  .conditions-text-right span {
    color: #eb3b49;
  }
  .map-contacts {
    text-align: center;
    padding-right: 51%;
    margin-top: -380px;
  }
  .map-contacts p {
    font-size: 42px;
    font-weight: 700;
    color: #eb3b49;
    letter-spacing: 0;
    line-height: 40px;
  }
  .map-contacts-phone {
    padding-left: 53%;
    margin-top: -65px;
  }
  .map-mail {
    display: flex;
    margin-top: 90px;
    padding-right: 300px;
  }
  .map-mail-img {
    font-size: 60px;
    color: red;
    margin-right: 20px;
  }
  .info-phone-link a {
    color: #001534;
    font-size: 40px;
    font-weight: 700;
  }
  .map-mail-link {
    margin-top: 45px;
  }
  .map-mail-link a {
    color: #001534;
    font-size: 42px;
    font-weight: 700;
  }
  .info-big {
    text-align: center;
    margin-top: 110px;
  }
  .info-big p {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 36px;
  }
  .info-big img {
    margin-top: 65px;
    width: 250px;
    height: 168px;
  }
}
@media (min-width: 768px) {
  header {
    padding-top: 90px;
  }
  .header-logo {
    position: absolute;
    width: 100px;
    height: 80px;
  }
  .modal-body input {
    margin-left: 13%;
    width: 75%;
    height: 120px;
    padding-left: 20px;
    font-size: 35px;
    margin-bottom: 50px !important;
    background: #d8d8d8;
    border: #979797 1px solid;
  }
  .modal-body button {
    width: 55%;
    height: 80px;
    margin-left: 23%;
    border-radius: 40px;
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
  }
  .nav {
    margin-top: 35px;
    margin-left: 31%;
  }
  .modal-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 35px;
    background: #d8d8d8;
    margin-bottom: 20px;
  }
  .modal-link-active {
    background: #eb3b49;
  }
  .header-container-text {
    text-align: right;
    background: #00ccff;
  }
  .header-container-text h2 {
    margin-top: 8px;
    margin-bottom: -8px;
  }
  .banner-btn {
    margin-left: 49%;
  }
  .header-logo {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 15px;
  }
  .header-container {
    padding-right: 75px;
    margin-top: -600px;
  }
  .header-container h2 {
    margin-left: 435px;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    letter-spacing: 0.9px;
  }
  .header-container h1 {
    margin-top: -17px;
    font-size: 120px;
    font-weight: 300;
    color: #001534;
    letter-spacing: 2.8px;
  }
  .header-container h1 span {
    font-weight: 700;
  }
  .header-container p {
    margin-left: 409px;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #001534;
    margin-bottom: 130px;
  }
  .header-container .history p {
    margin-top: -140px;
    font-size: 41px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
    margin-bottom: 18px!important;
  }
  .header-btn {
    margin-left: 53%;
  }
  .banner-info {
    position: relative;
    z-index: 2;
    margin-left: 50%;
    margin-top: 150px;
    padding-left: 140px;
    width: 47%;
    height: 107px;
    border-radius: 58px;
    background: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
  }
  .info-forms {
    padding-top: 108px;
  }
  .info {
    margin-top: -13px;
    width: 660px;
    text-align: center;
  }
  .info span {
    color: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    line-height: 110px;
  }
  .big-text {
    font-size: 59px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
    margin-bottom: 7px;
    line-height: 70px;
  }
  .info-phone-container {
    display: inline-block;
  }
  .info-phone-img {
    float: left;
    width: 50px;
    height: 40px;
    font-size: 62px;
    font-weight: 700;
    margin-top: 20px;
  }
  .info-phone-link {
    margin-top: 50px;
    float: left;
    width: 450px;
  }
  input {
    outline: 0 !important;
  }
  .form-margin {
    margin-left: -70px;
  }
  .input-form-margin {
    margin-left: 0;
  }
  form {
    margin-top: -7px;
    width: 660px;
  }
  .input-form {
    width: 660px;
    height: 90px;
    /*padding-left: 20px;*/
    text-align: center;
    font-size: 42px;
    color: #001534;
    letter-spacing: 0;
    padding-top: 20px;
    margin-bottom: 40px!important;
    border-radius: 3px;
    background: #d8d8d8;
    border: #979797 1px solid;
  }
  .form-btn {
    margin-top: 17px;
    border-radius: 52px;
    width: 660px;
    height: 107px;
    background: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: white;
    padding: 10px 100px 10px 97px;
    outline: 0 !important;
  }
  .form-btn-style {
    font-size: 40px;
    padding: 22px 70px 26px 70px;
    margin-top: 30px;
  }
  .steps {
    height: 233px;
    padding-top: 40px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
  }
  .steps-padding {
    padding-left: 77px;
    padding-right: 77px;
  }
  .steps-card {
    position: relative;
    text-align: center;
  }
  .steps-card span {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
  }
  .steps-card h3 {
    margin-top: 30px;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 50px;
    font-weight: 700;
    color: #001534;
  }
  .steps-card p {
    margin-top: 20px;
  }
  .step-line {
    width: 122px;
    height: 5px;
    background: #eb3b49;
    position: absolute;
    bottom: 412px;
    z-index: 3;
    left: 259px;
  }
  .step {
    margin: 0 auto;
    margin-top: -70px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #eb3b49 5px solid;
    /*
    margin-left: 18%;*/
    padding-top: 7px;
  }
  .step a {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
  }
  .step-active {
    text-align: center;
    /*margin-left: 18%;*/
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #eb3b49;
    padding-top: 7px;
    margin-top: -70px !important;
  }
  .step-active a {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
  }
  .step-first {
    height: 205px;
    margin-top: 15px;
  }
  .questions {
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: center;
    height: 96px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #001534;
  }
  .btn-questions {
    font-size: 42px;
    outline: none!important;
  }
  .contact {
    padding-top: 100px;
    padding-left: 8%;
    padding-right: 10%;
  }
  .mail {
    display: flex;
  }
  .mail a {
    font-size: 42px;
    font-weight: 300;
    color: #001534;
  }
  .mail p {
    margin-top: -20px;
    margin-right: 20px;
    font-size: 122px;
  }
  .mail-img {
    margin-top: 25px;
  }
  .mail-link {
    margin-top: 65px;
  }
  .advetristing {
    margin-top: 18px;
    text-align: right;
    width: 200px;
  }
  .info-phone-container {
    position: relative;
    margin-top: -40px;
  }
  .contact-img {
    margin-left: 3.1%;
    position: absolute;
    width: 250px;
    height: 250px;
    top: 24px;
  }
  .maps {
    margin-top: 80px;
    width: 100%;
  }
  .maps h3 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    font-size: 60px;
    margin-left: 29%;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: 1.6px;
  }
  .conditions-tittle {
    padding-top: 9px;
  }
  .conditions-tittle h3 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
  }
  .conditions-tittle p {
    line-height: 42px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
    text-align: center;
  }
  .conditions-text {
    padding-top: 35px;
  }
  .conditions-text-left {
    text-align: right;
  }
  .conditions-text-left p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    letter-spacing: 1.6px;
    line-height: 47px;
  }
  .conditions-text-right {
    text-align: left;
  }
  .conditions-text-right p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    letter-spacing: 1.6px;
    line-height: 47px;
  }
  .conditions-text-right span {
    color: #eb3b49;
  }
  .map-contacts {
    text-align: center;
    padding-right: 51%;
    margin-top: -380px;
  }
  .map-contacts p {
    font-size: 42px;
    font-weight: 700;
    color: #eb3b49;
    letter-spacing: 0;
    line-height: 40px;
  }
  .map-contacts-phone {
    padding-left: 53%;
    margin-top: -65px;
  }
  .map-mail {
    display: flex;
    margin-top: 90px;
    padding-right: 300px;
  }
  .map-mail-img {
    font-size: 60px;
    color: red;
    margin-right: 20px;
  }
  .info-phone-link a {
    color: #001534;
    font-size: 40px;
    font-weight: 700;
  }
  .map-mail-link {
    margin-top: 45px;
  }
  .map-mail-link a {
    color: #001534;
    font-size: 42px;
    font-weight: 700;
  }
  .info-big {
    width: 1143px;
    margin-left: 97px;
    margin-top: 112px;
  }
  .info-big p {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #001534;
    line-height: 36px;
  }
  .info-logo {
    margin: 0 auto;
    margin-top: 65px;
    width: 250px;
    height: 168px;
  }
}
@media (min-width: 1400px) {
  .header-logo {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 15px;
  }
  header {
    padding-top: 90px;
  }
  .header-container {
    padding-right: 75px;
    margin-top: -600px;
  }
  .header-container h2 {
    margin-left: 455px;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    letter-spacing: 0.9px;
  }
  .header-container h1 {
    margin-top: -17px;
    font-size: 120px;
    font-weight: 300;
    color: #001534;
    letter-spacing: 2.8px;
  }
  .header-container h1 span {
    font-weight: 700;
  }
  .header-container p {
    margin-left: 409px;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #001534;
    margin-bottom: 130px;
  }
  .header-container .history p {
    margin-top: -140px;
    font-size: 41px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
    margin-bottom: 18px!important;
  }
  .header-btn {
    margin-left: 53%;
  }
  .header-btn {
    margin-top: -50px;
  }
  .header-container-text {
    margin-left: 35%;
  }
  .banner-btn {
    margin-left: 49%;
  }
  .banner-info {
    position: relative;
    z-index: 2;
    margin-left: 50%;
    margin-top: 150px;
    padding-left: 140px;
    width: 47%;
    height: 107px;
    border-radius: 58px;
    background: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
  }
  .info-forms {
    padding-top: 108px;
  }
  .info {
    width: 660px;
    text-align: center;
    margin-top: 30px;
  }
  .info span {
    color: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    line-height: 110px;
  }
  .big-text {
    font-size: 59px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
    margin-bottom: 7px;
    line-height: 67px;
  }
  .info-phone-container {
    display: inline-block;
  }
  .info-phone-img {
    float: left;
    width: 50px;
    height: 40px;
    font-size: 62px;
    font-weight: 700;
    margin-top: 20px;
  }
  .info-phone-link {
    margin-top: 50px;
    float: left;
    width: 450px;
  }
  form {
    margin-top: -7px;
    margin-left: -29px;
  }
  .form-btn {
    margin-top: 17px;
    border-radius: 52px;
    width: 660px;
    height: 107px;
    background: #eb3b49;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
    padding: 10px 100px 10px 97px;
  }
  .form-btn-style {
    font-size: 40px;
    padding: 27px 70px 26px 70px;
    margin-top: 20px;
  }
  .step {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #eb3b49 5px solid;
    margin-left: 18%;
    margin-top: -70px;
    padding-top: 7px;
  }
  .step a {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
  }
  .step-line {
    width: 132px;
    height: 5px;
    background: #eb3b49;
    position: absolute;
    bottom: 405px;
    z-index: 3;
    left: 262px;
  }
  .step-active {
    text-align: center;
    margin-left: 18%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #eb3b49;
    margin-top: -70px;
    padding-top: 7px;
  }
  .step-active a {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
  }
  .btn-questions {
    font-size: 42px;
  }
  .contact {
    padding-top: 100px;
    padding-left: 8%;
    padding-right: 10%;
  }
  .mail {
    display: flex;
  }
  .mail a {
    font-size: 42px;
    font-weight: 300;
    color: #001534;
  }
  .mail p {
    margin-top: -20px;
    margin-right: 20px;
    font-size: 122px;
  }
  .mail-img {
    margin-top: 25px;
  }
  .mail-link {
    margin-top: 65px;
  }
  .advetristing {
    margin-top: 18px;
    text-align: right;
    width: 200px;
  }
  .info-phone-container {
    position: relative;
  }
  .contact-img {
    margin-left: 3%;
    position: absolute;
    width: 250px;
    height: 250px;
    top: 20px;
  }
  .form-margin {
    margin-top: 50px;
  }
  .maps {
    margin-top: 50px;
    text-align: center;
  }
  .maps h3 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    margin-left: 30px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .maps img {
    width: 100%;
  }
  .maps-img {
    background-size: cover;
    height: 300px;
    width: 100%;
    background: url("../img/map.png") no-repeat;
  }
  .maps {
    margin-top: 50px;
    width: 100%;
  }
  .maps h3 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
    margin-left: 550px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .conditions-tittle {
    padding-top: 9px;
  }
  .conditions-tittle h3 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
  }
  .conditions-tittle p {
    line-height: 42px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
    text-align: center;
  }
  .conditions-text {
    padding-top: 35px;
  }
  .conditions-text-left {
    text-align: right;
  }
  .conditions-text-left p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
  }
  .conditions-text-right {
    text-align: left;
  }
  .conditions-text-right p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
  }
  .conditions-text-right span {
    color: #eb3b49;
  }
  .map-contacts {
    text-align: center;
    padding-right: 51%;
    margin-top: -380px;
  }
  .map-contacts p {
    font-size: 42px;
    font-weight: 700;
    color: #eb3b49;
    letter-spacing: 0;
    line-height: 40px;
  }
  .map-contacts-phone {
    padding-left: 53%;
    margin-top: -65px;
  }
  .map-mail {
    display: flex;
    margin-top: 90px;
    padding-right: 300px;
  }
  .map-mail-img {
    font-size: 60px;
    color: red;
    margin-right: 20px;
  }
  .info-phone-link a {
    color: #001534;
    font-size: 40px;
    font-weight: 700;
  }
  .map-mail-link {
    margin-top: 45px;
  }
  .map-mail-link a {
    color: #001534;
    font-size: 42px;
    font-weight: 700;
  }
  .info-big {
    text-align: center;
    margin-top: 110px;
  }
  .info-big p {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 36px;
  }
  .info-big img {
    margin-top: 65px;
    width: 250px;
    height: 168px;
  }
}
@media (min-width: 1700px) {
  .header-logo {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 50px;
    left: 15px;
  }
  .header-logo {
    position: absolute;
    width: 100px;
    height: 80px;
  }
  .header-container {
    padding-right: 75px;
    margin-top: -700px;
  }
  .header-container h1 {
    font-size: 150px;
    color: #001534;
  }
  .header-container span {
    font-size: 150px;
    color: #001534;
  }
  .header-container p {
    font-size: 90px;
    margin-bottom: 40px;
  }
  .header-container .history p {
    margin-top: -70px;
    font-size: 41px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
    margin-bottom: 18px!important;
  }
  .header-btn {
    margin-left: 53%;
  }
  .form-margin {
    margin-top: 50px;
  }
  .conditions-tittle {
    padding-top: 9px;
  }
  .conditions-tittle h3 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    color: #001534;
  }
  .conditions-tittle p {
    line-height: 42px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0;
    color: #eb3b49;
    text-align: center;
  }
  .conditions-text {
    padding-top: 35px;
  }
  .conditions-text-left {
    text-align: right;
  }
  .conditions-text-left p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
  }
  .conditions-text-right {
    text-align: left;
  }
  .conditions-text-right p {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 50px;
  }
  .conditions-text-right span {
    color: #eb3b49;
  }
  .map-contacts {
    text-align: center;
    padding-right: 51%;
    margin-top: -380px;
  }
  .map-contacts p {
    font-size: 42px;
    font-weight: 700;
    color: #eb3b49;
    letter-spacing: 0;
    line-height: 40px;
  }
  .map-contacts-phone {
    padding-left: 53%;
    margin-top: -65px;
  }
  .map-mail {
    display: flex;
    margin-top: 90px;
    padding-right: 300px;
  }
  .map-mail-img {
    font-size: 60px;
    color: red;
    margin-right: 20px;
  }
  .info-phone-link a {
    color: #001534;
    font-size: 40px;
    font-weight: 700;
  }
  .map-mail-link {
    margin-top: 45px;
  }
  .map-mail-link a {
    color: #001534;
    font-size: 42px;
    font-weight: 700;
  }
  .info-big {
    text-align: center;
    margin-top: 110px;
  }
  .info-big p {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0;
    color: #001534;
    line-height: 36px;
  }
  .info-big img {
    margin-top: 65px;
    width: 250px;
    height: 168px;
  }
}
/*# sourceMappingURL=styles.css.map */